@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Patua+One&display=swap');

main {
    position: absolute;
    width: 100vw;
  
    z-index: 99;
    width: 100%;
    margin: 0px auto;
    padding: 120px 0px;
    
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}
   
body {
    background-color: #000;
    color: #fff;
    font-family: Quicksand;
    font-size: 20px;
}